        <!-- FOOTER -->
        <footer>
            <div class="footer-container">
                <ul>
                    <li>
                        <a href="/" target="_blank" rel="noopener noreferrer">
                            Link 1
                        </a>
                    </li>
                    <li>
                        <a href="/" target="_blank" rel="noopener noreferrer">
                            Link 2
                        </a>
                    </li>
                    <li>
                        <a href="/" target="_blank" rel="noopener noreferrer">
                            Link 3
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>