<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>spreadlove.one</title>

        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/all.css">
    </head>
    <body>
        <!-- HEADER -->
        <header class="header">
            <nav class="navbar">
                <span class="fas fa-camera"></span>
                <ul>
                    <li><%= navLink1 %></li>
                    <li>Link 2</li>
                    <li>Link 3</li>
                </ul>
            </nav>    
        </header>