<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>SpreadLove.one</title>

        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/all.css">
    </head>
    <body>
        <!-- HEADER -->
        <header class="main-header">
            <!-- Navigation Image -->
            <div class="navbar-image">
                <a href="/" alt="Home"><img src="/img/spreadlove.jpg"></a>
            </div>
            
            <!-- Navigation Items -->
            <nav class="navbar">
                <ul class="navbar-items">
                    <li class="navbar-item"><a href="/authentication/login"><%= navLink1 %></a></li>
                    <li class="navbar-item"><a href="/">Seite 2</a></li>
                    <li class="navbar-item"><a href="/">Seite 3</a></li>
                    <li class="navbar-item"><a href="/"><<i class="fas fa-baby"></i></a></li>
                </ul>
            </nav>    
        </header>