<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>SpreadLove.one</title>
        
        <!-- 3rd Party Styles -->
        <link rel="stylesheet" href="/css/all.css">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <!-- PWA MANIFEST -->
        <link rel="manifest" href="/manifest.json">
        <!-- Custom Styles -->
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <!-- HEADER -->
        <header class="main-header">
            <!-- Navigation Image -->
            <div class="navbar-image">
                <a href="/" alt="Home"><img src="/img/spreadlove.jpg"></a>
            </div>
            
            <!-- Navigation Items -->
            <nav class="navbar">
                <ul class="navbar-items">
                    <li class="navbar-item <%= isLoggedIn ? 'displayFALSE' : 'displayTRUE' %>">
                        <a href="/authentication/login">Login</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/">Seite 2</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/">Seite 3</a>
                    </li>
                </ul>
            </nav>    
        </header>