<!-- HEADER -->
<%- include('./includes/header.ejs') %>


<!--===========================================================================
                          ABOUT US                                          -->
<section>
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col">
                <h1 class="mb-4">Welche Drittanbieter kommen zum Einsatz?</h1>
                <p>
                    Auf der Seite SpreadLove.ONE werden Drittanbieter auf ein Minimum beschränkt!<br>
                    Aktuell werden folgende Drittanbieter in der Seite verwendet:
                    <ol>
                        <li>Bootstrap (incl. Icons)</li>
                        <li>JQuery</li>
                        <li>Google Fonts</li>
                        <li>Font Awesome</li>
                        <li>AOS</li>
                        <li>Impressum mittels online Generator von e-recht24.de</li>
                    </ol>  
                </p>
                <br>
                <p>
                    Da jeweils die Packages und Scripts direkt in der Seite eingebunden sind, gibt es auch keien Datenprozessing durch Google, etc.
                    Es werden in keinem Fall Daten gespeichert oder in welcher Art auch immer analysiert. <br>
                    <br>
                    Diese Seite ist ausschließliche privat betrieben, es wird KEIN Verkauf oder dergleichen berieben und der Inhaber dieser Seite 
                    generiert auch keinen wie auch immer gearteten Profit aus dem Betrieb dieser Website!
                </p>
                <p class="text-uppercase text-muted mt-4"><small>&mdash; Andreas S. Wegund (Dec. 2020)</small></p>
            </div> 
        </div> <!--end row-->
    </div>
</section>



<!-- FOOTER -->
<%- include('./includes/footer.ejs') %>