<!-- HEADER -->
<%- include('./includes/header.ejs') %>


<!--===========================================================================
                          ABOUT US                                          -->
<section>
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col text-center">
                <h1 class="mb-4">Erklärung zur Informationspflicht</h1>
                <h4 class="mb-5">(Datenschutzerklärung)</h4>
                <p>
                    Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir verarbeiten Ihre Daten daher ausschließlich 
                    auf Grundlage der gesetzlichen Bestimmungen (DSGVO, TKG 2003). In diesen Datenschutzinformationen informieren wir Sie
                    über die wichtigsten Aspekte der Datenverarbeitung im Rahmen unserer Website.<br>
                    <br>
                    Kontakt mit uns <br>
                    <br>
                    Wenn Sie per Formular auf der Website oder per E-Mail Kontakt mit uns aufnehmen, werden Ihre angegebenen Daten zwecks
                    Bearbeitung der Anfrage und für den Fall von Anschlussfragen sechs Monate bei uns gespeichert. Diese Daten geben wir
                    nicht ohne Ihre Einwilligung weiter.<br>
                    <br>
                    {Gleich vorweg, sollten wir zukünftig einen Webshop betreiben wollen: :-)} <br>
                    <br>
                    Datenspeicherung <br>
                    Wir weisen darauf hin, dass zum Zweck des einfacheren Einkaufsvorganges und zur späteren Vertragsabwicklung vom Webshop-Betreiber
                    im Rahmen von Cookies die IP-Daten des Anschlussinhabers gespeichert werden, ebenso wie Name, Anschrift und Kreditkartennummer […]
                    des Käufers. <br> 
                    Darüber hinaus werden zum Zweck der Vertragsabwicklung folgende Daten auch bei uns gespeichert: [bitte Daten ergänzen]. <br>
                    Die von Ihnen bereit gestellten Daten sind zur Vertragserfüllung bzw zur Durchführung vorvertraglicher Maßnahmen erforderlich.
                    Ohne diese Daten können wir den Vertrag mit Ihnen nicht abschließen. Eine Datenübermittlung an Dritte erfolgt nicht, mit Ausnahme
                    der Übermittlung der Kreditkartendaten an die abwickelnden Bankinstitute/Zahlungsdienstleister zum Zwecke der Abbuchung des 
                    Einkaufspreises, an das von uns beauftragte Transportunternehmen/Versandunternehmen zur Zustellung der Ware sowie an unseren 
                    Steuerberater zur Erfüllung unserer steuerrechtlichen Verpflichtungen. <br>
                    Nach Abbruch des Einkaufsvorganges werden die bei uns gespeicherten Daten gelöscht. <br>
                    Im Falle eines Vertragsabschlusses werden sämtliche Daten aus dem Vertragsverhältnis bis zum Ablauf der steuerrechtlichen 
                    Aufbewahrungsfrist (7 Jahre) gespeichert. Die Daten Name, Anschrift, gekaufte Waren und Kaufdatum werden darüber hinaus bis zum 
                    Ablauf der Produkthaftung (10 Jahre) gespeichert. Die Datenverarbeitung erfolgt auf Basis der gesetzlichen Bestimmungen des 
                    § 96 Abs 3 TKG sowie des Art 6 Abs 1 lit a (Einwilligung) und/oder lit b (notwendig zur Vertragserfüllung) der DSGVO. <br>
                    <br>
                    {In der aktuellen Version dieser Seite kommt das nicht zum Tragen - nichts desto trotz: personenbezogene Cookies} <br>
                    Cookies <br>
                    Unsere Website verwendet so genannte Cookies. Dabei handelt es sich um kleine Textdateien, die mit Hilfe des Browsers auf Ihrem
                    Endgerät abgelegt werden. Sie richten keinen Schaden an. <br>
                    Wir nutzen Cookies dazu, unser Angebot nutzerfreundlich zu gestalten. Einige Cookies bleiben auf Ihrem Endgerät gespeichert, bis
                    Sie diese löschen. Sie ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
                    Wenn Sie dies nicht wünschen, so können Sie Ihren Browser so einrichten, dass er Sie über das Setzen von Cookies informiert und
                    Sie dies nur im Einzelfall erlauben. <br>
                    Bei der Deaktivierung von Cookies kann die Funktionalität unserer Website eingeschränkt sein. <br>
                    <br>
                    {Wir verzichten bewusst auf den Einsatz von Web-Analyse-Tools wie zB Google Analytics, eTracker, etc} <br>
                    Web-Analyse <br>
                    Unsere Website verwendet Funktionen KEINE Webanalysedienste - folgende Passage kommt NICHT zum Tragen!!<br>
                     … [Name des Tools und Firma des Anbieters samt Unternehmenssitz einschließlich Information, ob Daten an ein (außereuropäisches) 
                    Drittland übertragen werden]. Dazu werden Cookies verwendet, die eine Analyse der Benutzung der Website durch Ihre Benutzer
                    ermöglicht. Die dadurch erzeugten Informationen werden auf den Server des Anbieters übertragen und dort gespeichert. <br> 
                    Sie können dies verhindern, indem Sie Ihren Browser so einrichten, dass keine Cookies gespeichert werden. <br>
                    Wir haben mit dem Anbieter einen entsprechenden Vertrag zur Auftragsdatenverarbeitung abgeschlossen. <br>
                    {Nutzung von IP-Adressen auf Basis der Rechtsgrundlage „berechtigtes Interesse“; in diesem Fall wird eine Pseudonymisierung 
                    empfohlen:} Ihre IP-Adresse wird erfasst, aber umgehend [zB durch Löschung der letzten 8 Bit] pseudonymisiert. Dadurch ist
                    nur mehr eine grobe Lokalisierung möglich. <br>
                    {Bei außereuropäischen Anbietern:} Die Beziehung zum Webanalyseanbieter basiert auf … [Standardvertragsklauseln/einem 
                    Angemessenheitsbeschluss der Europäischen Kommission (zB im Fall der USA: „Privacy Shield“)]. <br> 
                    Die Datenverarbeitung erfolgt auf Basis der gesetzlichen Bestimmungen des § 96 Abs 3 TKG sowie des Art 6 Abs 1 lit a (Einwilligung)
                    und/oder f (berechtigtes Interesse) der DSGVO. <br>
                    Unser Anliegen im Sinne der DSGVO (berechtigtes Interesse) ist die Verbesserung unseres Angebotes und unseres Webauftritts.
                    Da uns die Privatsphäre unserer Nutzer wichtig ist, werden die Nutzerdaten pseudonymisiert [Pseudonymisierung wird beim Rechtsgrund
                    „berechtigtes Interesse“ empfohlen; dies muss mit dem Webanalysedienst abgeklärt werden]. <br>
                    Die Nutzerdaten werden für die Dauer von … [Speicherfrist angeben] aufbewahrt [dies muss mit dem Webanalysedienst abgeklärt werden]. <br>
                    <br>
                    {Sofern ein Newsletter zum Bezug angeboten wird, zusätzlich auch beim entsprechenden Menüpunkt implementieren oder auf diese
                    Datenschutzinformationen verlinken} <br>
                    Newsletter <br>
                    Sie haben die Möglichkeit, über unsere Website unseren Newsletter zu abonnieren. Hierfür benötigen wir Ihre E-Mail-Adresse und
                    ihre Erklärung, dass Sie mit dem Bezug des Newsletters einverstanden sind. <br>
                    {Wenn weitere Daten erhoben werden:} Um Sie zielgerichtet mit Informationen zu versorgen, erheben und verarbeiten wir außerdem
                    freiwillig gemachte Angaben zu Interessengebieten, Geburtstag und Postleitzahl […]. <br>
                    {Bei double Opt-in:} Sobald Sie sich für den Newsletter angemeldet haben, senden wir Ihnen ein Bestätigungs-E-Mail mit einem Link
                    zur Bestätigung der Anmeldung. <br>
                    Das Abo des Newsletters können Sie jederzeit stornieren. Senden Sie Ihre Stornierung bitte an folgende E-Mail-Adresse: [E-Mail-Adresse angeben]. <br>
                    Wir löschen anschließend umgehend Ihre Daten im Zusammenhang mit dem Newsletter-Versand. Durch diesen Widerruf wird die Rechtmäßigkeit der
                    aufgrund der Zustimmung bis zum Widerruf erfolgten Verarbeitung nicht berührt. <br>
                    <br>
                    Ihre Rechte <br>
                    Ihnen stehen bezüglich Ihrer bei uns gespeicherten Daten grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung, 
                    Datenübertragbarkeit, Widerruf und Widerspruch zu. Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht 
                    verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei uns [E-Mail-Adresse 
                    abgeben] oder der Datenschutzbehörde beschweren. <br>
                    <br> <br> <br>
                    Sie erreichen uns unter folgenden Kontaktdaten: <br>
                    Privat: Andreas S. Wegund <br>
                            Tel.: +43/664 8567 422 <br>
                            Mail: -  <br>
                        <br>
                    {nur falls ein EU-Vertreter vorhanden ist:} Unseren Vertreter erreichen Sie unter [Kontaktdaten des Vertreters ergänzen (Telefon, 
                    E-Mail)
                    {falls ein Datenschutzbeauftragter vorhanden ist} Unseren Datenschutzbeauftragten erreichen Sie unter [Kontaktdaten des 
                    Datenschutzbeauftragten ergänzen (Telefon, E-Mail)]
    
                </p>
                <p class="text-uppercase text-muted mt-4"><small>&mdash; Andreas S. Wegund (Dec. 2020)</small></p>
            </div> 
        </div> <!--end row-->
    </div>
</section>



<!-- FOOTER -->
<%- include('./includes/footer.ejs') %>