<!-- HEADER -->
<%- include('./includes/header.ejs') %>


<div data-aos="zoom-in-down" id="backtotop">
    <a href="#home">
        <i class="bi bi-arrow-up-square-fill"></i>
    </a>
</div>

<!--===========================================================================
                          HERO-SCTION                                       -->
<div class="container-fluid d-relative">
    <!-- IMG -->
    <section data-aos="fade-right" id="home" class="jumbotron jumbotron-fluid hero-bg"></section>

    <!-- TEXT & BTN -->
    <div class="container hero-section">
        <% if(name) { %>
            <h1 class="display-5 text-dark mt-5 pt-5 mb-4">SpreadLove. <span class="danceFont danceRotate"><%= name %></span>!</h1>
        <% } else { %>
            <h1 class="display-5 text-dark mt-5 pt-5 mb-4">SpreadLove. <span class="danceFont danceRotate">Every</span>ONE</h1>
        <% } %>

        <p class="lead text-dark">Hommage an meine geliebte Frau Alicia! <i class="bi bi-heart"></i></p>
        <a href="#aboutUs" role="button" class="btn btn-round btn-lg btn-outline-dark mt-2">
            <small class="pr2">Lies mehr von uns...</i> <i class="bi bi-arrow-down-circle-fill iconDown"></i></small> 
        </a>
    </div>
</div>


<!--===========================================================================
                          ABOUT US                                          -->
<section id="aboutUs" class="d-relative">
    <div class="container">

        <!-- START SINGLE ROW -->
        <div class="row">
            <!-- START LEFT COLUMN -->
            <div class="col-lg-6 mr-5 text-center">
                <h1 class="mb-4">About us...</h1>
                <p>Meine Frau, Alicia, und ich haben uns 2013 in einem Fitnessstudio in Wien kennen gelernt! 
                    Nachdem wir Anfang 2014 auch ein Paar geworden sind, war für mich nach wenigen Wochen klar:
                    <br><span style="font-weight: bold">diese Frau will ich heiraten!</span>
                </p>
                <br>
                <p>
                    Es ist für mich nach knapp sieben (7!) Jahren noch immer ein Wunder und ich bin unsagbar 
                    dankbar! Ich liebe einfach alles an diesem Mädchen: Sie hat ein riesiges Herz, ist intelligent, lustig, 
                    ein bisschen verrückt und ausnehmend hübsch!
                </p>
                <br>
                <p>
                    Seit Dezember 2017 sind wir verheiratet, und unsere Bindung zueinander ist dadurch nur noch stärker geworden.
                    Inzwischen sind wir zudem überglücklich auch noch mit einer kleinen Prinzessin schwanger zu sein! Im April 
                    2021 werden wir das Produkt unserer Liebe hoffentlich in Händen halten dürfen!
                </p>
                <p class="text-uppercase text-muted mt-4"><small>&mdash; Andreas S. W. (Dec. 2020)</small></p>
            </div> <!-- end col -->
            
            <!-- START RIGHT COLUMN -->
            <div class="col">
                <div  data-aos="fade-left" class="img-bg d-none d-lg-inline">
                    <img class="img-fluid" src="/img/alicia_danube.png" alt="About us...">
                </div>
            </div> <!-- end col -->
        </div> <!--end row-->

    </div>
</section>


<!--===========================================================================
                          QUOTES                                            -->
<section id="quotes" class="d-relative quotes-bg">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center">
                <h1 class="mb-4">Schwanger!!!</h1>
                <p class="text-dark lead">
                    Ein paar Impressionen... <i class="bi bi-heart"></i> 
                </p>
            </div> <!--ende col-->
        </div> <!--ende row-->

        <div class="row justify-content-between">
            <div class="col-md text-center mx-5 mr-md-0 mr-lg-3 mb-5 mb-md-auto">
                <img src="/img/OCHB2246.JPG" alt="quote1" class="img-fluid mb-4 rounded-circle">
                <h3 class="mb-3">Alicia</h3>
                <p class="text-white px-4">
                    ... das ist meine wunderschöne Frau Alica!
                </p>
            </div><!--ende col-->
            <div class="col-md text-center mx-5 mx-md-0 mx-lg-3 mb-5 mb-md-auto">
                <img src="/img/ohBaby.JPG" alt="quote2" class="img-fluid mb-4 rounded-circle">
                <h3 class="mb-3">Alicia</h3>
                <p class="text-white px-4">
                    ... und hier auch!
                </p>
            </div><!--ende col-->
            <div class="col-md text-center mx-5 ml-md-0 ml-lg-3">
                <img src="/img/alicia.JPG" alt="quote3" class="img-fluid mb-4 rounded-circle">
                <h3 class="mb-3">Alicia</h3>
                <p class="text-white px-4">
                    ... und gleich noch einmal!
                </p>
            </div><!--ende col-->

        </div> <!--ende row-->
    </div> <!--ende container-->
</section>


<!--===========================================================================
                          GALLERIE                                          -->
<section id="gallery">
    <div class="container">
        <div class="row mb-5">
            <div class="col mb-5 text-center">
                <h1>Gallerie</h1>
                <div class="card-columns">
                    <div class="card">
                        <img class="card-img" src="" alt="">
                    </div>
                </div> 
            </div>  
        </div> 
    </div> 
</section>




<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/alicia.JPG" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/alicia_landscape.JPG" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/ohBaby.JPG" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>




<section>
    <button class="btnPWAShowBanner">Installation banner anzeigen</button>
</section>


<!-- FOOTER -->
<%- include('./includes/footer.ejs') %>