<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site not found</title>
    <style type="stylesheet">
        html{
            box-sizing: border-box;
        }
        body{
            background-color: lightcoral;
        }
    </style>
</head>
    <body>
        <h1><%= failureTitle %></h1>        
    </body>
</html>