<!-- HEADER -->
<%- include('./includes/header.ejs') %>


<!-- SECTION -->

<section>
    <div class="container" style="font-size: 4rem; color: darkblue">
        SpreadLove <i class="fas fa-child"></i>
    </div>
</section>


<!-- FOOTER -->
<%- include('./includes/footer.ejs') %>