<!-- HEADER -->
<%- include('./includes/header.ejs') %>


<!-- SECTION -->
<section>
    <div class="container">
        <div class="sidebar-left">
            <a href="/" target="_blank" rel="noopener noreferrer">
                Sidebar left
            </a>
        </div>
        <div class="main">Main</div>
        <div class="sidebar-right">Sidebar right</div>
    </div>
</div>


<!-- FOOTER -->
<%- include('./includes/footer.ejs') %>