html {
    box-sizing: content-box;
    scroll-behavior: smooth;
}

/*========================= ALLGEMEIN =========================*/
body, p {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;

    /* Überschriften */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .font-alt{
        font-family: 'Raleway', sans-serif;
        color: #bd45a3;

        &.border-line{
            padding-bottom: .5rem;
        }
    }

    .danceFont{
        font-family: 'Dancing Script', cursive;
        color: #bd45a3;
    }

    /* Button */
    .btn-round{
        border-radius: 1rem;
    }

    /* Section */
    section{
        padding-top: 5rem;
        height: 100vh;
    }

    /* Hilfsklassen */
    .d-relative{
        position: relative;
    }
    
    .bg-overlay{
        height: 100%;
        width: 100%;
        background-color: rgba(250,250,250,0.7);
        position: absolute;
        top: 0;
        left: 0;
    }

    #backtotop{
        position: fixed;
        width: 1.4rem;
        height: 1.4rem;
        bottom: 3.6rem;
        right: 1rem;
        z-index: 9999;
        
        a{
            text-decoration: none;
            color: #bd45a3;
            font-size: 1.8rem;
            text-shadow: 0 0 20px gray;
        }
        
    }
}




/*========================= NAVIGATION =========================*/
nav{
    transition: 1.4s ease-in-out;
}

.navbar .container .navbar-brand{
    transition: 1.4s all;

    &:hover,
    &:active{
        text-shadow: 0 0 12px #bd45a3;
    }
}

.navbar .navbar-nav .nav-link,
button .navbar-toggler {
    color:rgb(83, 82, 82);
    transition: 0.8s all ease-in-out;
}

.brand-logo-40{
    height: 40px;
    border-radius: 20%;
}

.navbar button:hover,
.navbar button:focus,
.navbar .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
    color: #bd45a3;
    text-shadow: 0 0 12px #bd45a3;
}


.showLogin{
    visibility: visible;;
}

.hideLogin{
    visibility: hidden;
}


/*========================= HERO SECTION =========================*/
.hero-bg{
    background: url('/img/alicia_hero.png') 30% 3rem fixed no-repeat;
    height: 100vh;
    width: 100%;
    background-size: contain;

    /* Medium devices (landscape tablets, 768px and up) */
    // @media only screen and (max-width: 768px) {
    //     background: url('/img/hero-image_mobile2.jpg') 0 4% fixed no-repeat;
    //     height: 100vh;
    //     width: 100%;
    //     background-size: cover;
    //     filter: brightness(1.14);    
    // }
}

.hero-section{
    position: absolute;
    top:40%;
    right: 15%;
    width: auto;
}

// #home .row{
//     height: 80%;
// }

.iconDown{
    color:#bd45a3;
    font-size: larger;
}


.hero-section .btn {
    transition: 1.4s all ease-in-out;
}


/*========================= ABOUT US SECTION =========================*/
#aboutUs{
    width: 100%;
    background-color: rgba(240,240,240,0.6);
}


.img-bg{
    position: absolute;
    overflow: hidden;
    right: 0;
    top: -5rem;
    width: 100%;
}


/*========================= QUOTES =========================*/
.quotes-bg{
    background: url('/img/gh_kampl_styria.jpg') 60% 3rem fixed no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    
    /* Medium devices (landscape tablets, 768px and up) */
    // @media only screen and (max-width: 768px) {
    //     background: url('/img/hero-image_mobile2.jpg') 0 4% fixed no-repeat;
    //     height: 100vh;
    //     width: 100%;
    //     background-size: cover;
    //     filter: brightness(1.14);    
    // }    
}

#quotes .rounded-circle{
    border: 5px solid rgb(83, 82, 82);
}

.card-deck .card{
    transition: 0.8s all ease-in-out;
    box-shadow: none;

    &:hover, 
    &:focus{
        box-shadow: 0 0 16px #bd45a3;
    }

    img{
        max-width: 100%;
    }
}



/*========================= GALLERY =========================*/
#gallery{
    width: 100%;
    height: 80vh;
    margin: 0;
    padding: 0;
    background-color: rgba(240,240,240,0.6);

    .carousel-inner .carousel-item img {
        height: 80vh;
        margin: auto;
    }
}




/*========================= FOOTER =========================*/
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}