html {
    box-sizing: content-box;
}

/*======= ALLGEMEIN ======*/
body, p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;

    /* Überschriften */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .font-alt{
        font-family: 'Raleway', sans-serif;
        color: #bd45a3;

        &.border-line{
            padding-bottom: .5rem;
            border-bottom: 2px solid #bd45a3;
        }
    }

    .danceFont{
        font-family: 'Dancing Script', cursive;
        color: #bd45a3;
    }

    /* Button */
    .btn-round{
        border-radius: 1rem;
    }

    /* Section */
    section{
        padding: 5rem 0;
    }

    /* Hilfsklassen */
    .d-relative{
        position: relative;
    }
    
    .bg-overlay{
        height: 100%;
        width: 100%;
        background-color: rgba(200,200,200,.6);
        position: absolute;
        top: 0;
        left: 0;
    }
}




/*======= NAVIGATION ======*/
nav{
    transition: 1.4s ease-in-out;
}

.navbar .navbar-nav .nav-link,
button .navbar-toggler {
    color:rgb(83, 82, 82);
}

.brand-logo-40{
    height: 40px;
}

.navbar button:hover,
.navbar button:focus,
.navbar .nav-link:hover{
    color: #bd45a3;
}


.showLogin{
    visibility: visible;;
}

.hideLogin{
    visibility: hidden;
}


/*======= HERO SECTION ======*/
.hero-bg{
    background: url('/img/alicia_hero.png') 30% 0 fixed no-repeat;
    height: 100vh;
    width: 100%;
    background-size: contain;

    /* Medium devices (landscape tablets, 768px and up) */
    // @media only screen and (max-width: 768px) {
    //     background: url('/img/hero-image_mobile2.jpg') 0 4% fixed no-repeat;
    //     height: 100vh;
    //     width: 100%;
    //     background-size: cover;
    //     filter: brightness(1.14);    
    // }
}

.hero-section{
    position: absolute;
    top:40%;
    right: 15%;
    width: auto;
}

// #home .row{
//     height: 80%;
// }

.iconDown{
    color:#bd45a3;
    font-size: larger;
}

/*======= ABOUT US SECTION ======*/
.img-bg{
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 0;
    width: 50vh;
}

#home .btn {
    transition: 1s all ease-in-out;
}


/*======= QUOTES ======*/
.quotes-bg{
    background: url('/img/alicia_landscape.JPG') 30% 0 fixed no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    filter: brightness(1.14);
    
    /* Medium devices (landscape tablets, 768px and up) */
    // @media only screen and (max-width: 768px) {
    //     background: url('/img/hero-image_mobile2.jpg') 0 4% fixed no-repeat;
    //     height: 100vh;
    //     width: 100%;
    //     background-size: cover;
    //     filter: brightness(1.14);    
    // }    
}

#quotes .rounded-circle{
    border: 5px solid rgb(83, 82, 82);
}


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}