@charset "UTF-8";
html {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  scroll-behavior: smooth;
}

/*========================= ALLGEMEIN =========================*/
body, p {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  /* Medium devices (landscape tablets, 768px and up) */
  /* Überschriften */
  /* Button */
  /* Section */
  /* Hilfsklassen */
}

@media only screen and (max-width: 768px) {
  body, p {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
  }
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .font-alt, p h1,
p h2,
p h3,
p h4,
p h5,
p h6,
p .font-alt {
  font-family: 'Raleway', sans-serif;
  color: #bd45a3;
  /* Medium devices (landscape tablets, 768px and up) */
}

body h1.border-line,
body h2.border-line,
body h3.border-line,
body h4.border-line,
body h5.border-line,
body h6.border-line,
body .font-alt.border-line, p h1.border-line,
p h2.border-line,
p h3.border-line,
p h4.border-line,
p h5.border-line,
p h6.border-line,
p .font-alt.border-line {
  padding-bottom: .5rem;
}

@media only screen and (max-width: 768px) {
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6,
  body .font-alt, p h1,
  p h2,
  p h3,
  p h4,
  p h5,
  p h6,
  p .font-alt {
    font-family: 'Raleway', sans-serif;
    color: #bd45a3;
    font-size: 1rem;
  }
}

body .danceFont, p .danceFont {
  font-family: 'Dancing Script', cursive;
  color: #bd45a3;
}

body .btn-round, p .btn-round {
  border-radius: 1rem;
}

body section, p section {
  padding-top: 5rem;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  body section, p section {
    padding: 2rem 0;
    height: 100vh;
  }
}

body .d-relative, p .d-relative {
  position: relative;
}

body .bg-overlay, p .bg-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}

body #backtotop, p #backtotop {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 9999;
}

body #backtotop a, p #backtotop a {
  text-decoration: none;
  color: #bd45a3;
  font-size: 1.8rem;
  text-shadow: 0 0 20px gray;
}

body .btnPWAShowBanner, p .btnPWAShowBanner {
  position: fixed;
  bottom: 2.6rem;
  right: 5rem;
  font-size: xx-large;
  z-index: 9999;
  color: #bd45a3;
  text-shadow: 0 0 20px gray;
}

body .errorMessage, p .errorMessage {
  color: #bd45a3;
}

body .messagebox, p .messagebox {
  position: fixed;
  z-index: 9999;
  width: 80%;
  height: 20rem;
  bottom: 12rem;
  background-color: #fafafa;
  border: 4px solid #bd45a3;
  visibility: visible;
  -webkit-transition: 1s all;
  transition: 1s all;
}

/*========================= NAVIGATION =========================*/
nav {
  -webkit-transition: 1.4s ease-in-out;
  transition: 1.4s ease-in-out;
}

@media only screen and (max-width: 768px) {
  nav a {
    font-size: 1rem;
  }
}

.navbar .container .navbar-brand {
  -webkit-transition: 1.4s all;
  transition: 1.4s all;
}

.navbar .container .navbar-brand:hover, .navbar .container .navbar-brand:active {
  text-shadow: 0 0 12px #bd45a3;
}

.navbar .navbar-nav .nav-link,
button .navbar-toggler {
  color: #535252;
  -webkit-transition: 0.8s all ease-in-out;
  transition: 0.8s all ease-in-out;
}

.brand-logo-40 {
  height: 40px;
  border-radius: 20%;
}

.navbar button:hover,
.navbar button:focus,
.navbar .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: #bd45a3;
  text-shadow: 0 0 12px #bd45a3;
}

.showLogin {
  visibility: visible;
}

.hideLogin {
  visibility: hidden;
}

/*========================= HERO SECTION =========================*/
.hero-bg {
  background: url("/img/alicia_hero.png") 30% 3rem fixed no-repeat;
  height: 100vh;
  width: 100%;
  background-size: contain;
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 768px) {
  .hero-bg {
    background: url("/img/alicia_hero.png") 5rem 2rem fixed no-repeat;
    height: 95vh;
    width: 100%;
    background-size: contain;
  }
}

.hero-section {
  position: absolute;
  top: 40%;
  right: 15%;
  width: auto;
}

.hero-section h1 {
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 768px) {
  .hero-section h1 {
    position: absolute;
    top: 2rem;
    right: 6.5rem;
    width: 200px;
    font-size: 1rem;
  }
}

.hero-section p {
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 768px) {
  .hero-section p {
    position: absolute;
    top: 10rem;
    right: 8.5rem;
    width: 165px;
    font-size: 0.7rem;
  }
}

.hero-section a {
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 768px) {
  .hero-section a {
    position: absolute;
    top: 13rem;
    right: 9.5rem;
    width: 150px;
    font-size: 0.7rem;
  }
}

.iconDown {
  color: #bd45a3;
  font-size: larger;
}

.hero-section .btn {
  -webkit-transition: 1.4s all ease-in-out;
  transition: 1.4s all ease-in-out;
}

/*========================= ABOUT US SECTION =========================*/
#aboutUs {
  width: 100%;
  background-color: rgba(240, 240, 240, 0.6);
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 768px) {
  #aboutUs {
    width: 100%;
    background-color: rgba(240, 240, 240, 0.6);
    font-size: .9rem;
  }
}

.img-bg {
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  width: 100%;
}

/*========================= NEWS =============================*/
.news-bg {
  background: url("/img/section_news/silvester_2021_terrasse.jpg") 60% 10rem fixed no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
}

#news {
  position: relative;
  z-index: 9999;
}

.news-images {
  position: relative;
  max-width: 100%;
}

/*========================= Pregnancy =========================*/
.pregnacy-bg {
  background: url("/img/gh_kampl_styria.jpg") 60% 3rem fixed no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
}

#pregnant h1 {
  position: relative;
  z-index: 9999;
}

.card-deck .card {
  -webkit-transition: 0.8s all ease-in-out;
  transition: 0.8s all ease-in-out;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card-deck .card:hover, .card-deck .card:focus {
  -webkit-box-shadow: 0 0 16px #bd45a3;
          box-shadow: 0 0 16px #bd45a3;
}

.card-deck .card img {
  max-width: 100%;
}

/*========================= Quotes =========================*/
#quotes {
  width: 100%;
  height: 50vh;
  margin: 0;
  padding: 0;
  background: url("/img/kleine_kanzel_2020_2.jpg") 50% -15rem fixed no-repeat;
  background-size: cover;
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 768px) {
  #quotes {
    width: 100%;
    height: 30vh;
    margin: 0;
    padding: 0;
    background: url("/img/kleine_kanzel_2020_2.jpg") 66% -10rem fixed no-repeat;
    background-size: cover;
  }
}

#quotes h1 {
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 768px) {
  #quotes h1 {
    margin-bottom: 0.5rem !important;
  }
}

#gallerie-slider p {
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 768px) {
  #gallerie-slider p {
    font-size: .8rem;
  }
}

#gallerie-slider .carousel-indicators {
  bottom: -2rem;
}

#gallerie-slider .carousel-indicators li {
  max-width: 3rem;
}

/*========================= COMMENTS =========================*/
#comments {
  width: 100%;
  background-color: rgba(240, 240, 240, 0.6);
}

/*========================= FOOTER =========================*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer .container {
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 768px) {
  footer .container {
    font-size: .7rem;
  }
}

footer .container .row .col a {
  text-decoration: none;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

footer .container .row .col a:hover, footer .container .row .col a:focus {
  text-shadow: 0 0 12px #bd45a3;
}
/*# sourceMappingURL=index.css.map */