        <!-- FOOTER -->
        <footer>
            <div class="footer-container">
                <ul>
                    <li class="footerElement">
                        <a href="/" target="_blank" rel="noopener noreferrer">
                            Link 1
                        </a>
                    </li>
                    <li class="footerElement">
                        <a href="/" target="_blank" rel="noopener noreferrer">
                            Link 2
                        </a>
                    </li>
                    <li class="footerElement">
                        <a href="/" target="_blank" rel="noopener noreferrer">
                            Link 3
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
        
        <script src="/js/scriptings.js"></script>
        <script src="/manifest/sw-registration.js"></script>
    </body>
</html>