        <!-- FOOTER -->
        <footer class="bg-light text-light pt-1 pb-1 text-center">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="/impressum" class="text-dark text-justify-center" target="_blank" rel="Impressum">
                            Impressum
                        </a>
                    </div>
                    <div class="col">
                        <a href="/dsgvo" class="text-dark text-justify-center" target="_blank" rel="Datenschutz">
                            Datenschutz (DSGVO)
                        </a>
                    </div>
                    <div class="col">
                        <a href="/3rdparty" class="text-dark text-justify-center" target="_blank" rel="3rd Party">
                            Drittanbieter
                        </a>
                    </div>
                    <div class="col <%= !isLoggedIn ? 'showLogin' : 'hideLogin' %>"">
                        <a href="/authentication/login-fb" class="text-dark text-justify-center" rel="Login">Login Facebook</a>
                    </div>
                    <div class="col <%= !isLoggedIn ? 'showLogin' : 'hideLogin' %>"">
                        <a href="/authentication/login-github" class="text-dark text-justify-center" rel="Login">Login GitHub</a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- 3rd Party JS -->
        <script src="/js/jquery-3.5.1.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/aos.js"></script>

        <!-- CUSTOM -->
        <script src="/js/scriptings.js"></script>
        <script src="/manifest/sw-registration.js"></script>
    </body>
</html>