<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>SpreadLove.one</title>
        
        <!-- 3rd Party Styles -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Raleway:wght@600&display=swap&family=Dancing+Script&display=swap" rel="stylesheet" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/all.css">
        <link rel="stylesheet" href="/css/aos.css">
        <!-- PWA MANIFEST -->
        <link rel="manifest" href="/manifest/manifest.json">
        <!-- PWA for Apple -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="SpreadLove!">
        <link rel="apple-touch-icon" href="/icons/spreadlove_apple_57x57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="/icons/spreadlove_apple_60x60.png" sizes="60x60">
        <link rel="apple-touch-icon" href="/icons/spreadlove_apple_76x76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="/icons/spreadlove_apple_120x120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="/icons/spreadlove_apple_144x144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="/icons/spreadlove_apple_180x180.png" sizes="180x180">
        <!-- PWA for IE -->
        <meta name="msapplication-TileImage" content="/icons/spreadlove_256x256.png">
        <meta name="msapplication-TileColor" content="#fff">
        <!-- PWA for all -->
        <meta name="theme-color" content="#3f51b5">
        <!-- Custom Styles -->
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="200">
        
        <!-- HEADER -->
        <header>
            <nav class="navbar navbar-expand-lg fixed-top py-0">
                <div class="container">
                    <!-- Logo mit Namen -->
                    <a href="/" class="navbar-brand text-dark font-alt">
                        <img src="/img/logo.jpg" alt="Logo" class="brand-logo-40 mr-2">Spreadlove <span class="danceFont">Every</span>.ONE
                    </a> 

                    <!-- Button -->
                    <button class="navbar-toggler btn-round border-dark mr-5" type="button" data-toggle="collapse" data-target="#navbartoggle" aria-controls="navbar-toggle">
                        <span class="fa fa-bars"></span>
                    </button>
                    <!-- Menü -->
                    <div class="collapse navbar-collapse justify-content-end text-uppercase" id="navbartoggle">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#home" class="nav-link active">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="#aboutUs" class="nav-link">About us</a>
                            </li>
                            <li class="nav-item">
                                <a href="#news_section" class="nav-link">News</a>
                            </li>
                            <li class="nav-item">
                                <a href="#pregnant" class="nav-link">Pregnancy</a>
                            </li>
                            <li class="nav-item">
                                <a href="#quotes" class="nav-link">Quotes</a>
                            </li>
                            <li class="nav-item">
                                <a href="#comments" class="nav-link">Add comment</a>
                            </li>
                        </ul>
                    </div>
                </div> <!--ende container-->
            </nav>
        </header>
