<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>SpreadLove.one</title>
        
        <!-- 3rd Party Styles -->
        <link rel="stylesheet" href="/css/all.css">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <!-- PWA MANIFEST -->
        <link rel="manifest" href="/manifest/manifest.json">
        <!-- PWA for Apple -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="SpreadLove!">
        <link rel="apple-touch-icon" href="/icons/apple-icon-114x114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="/icons/apple-icon-120x120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="/icons/apple-icon-144x144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="/icons/apple-icon-152x152.png" sizes="152x152">
        <link rel="apple-touch-icon" href="/icons/apple-icon-180x180.png" sizes="180x180">
        <!-- PWA for IE -->
        <meta name="msapplication-TileImage" content="/icons/app-icon-144x144.png">
        <meta name="msapplication-TileColor" content="#fff">
        <!-- PWA for all -->
        <meta name="theme-color" content="#3f51b5">
        <!-- Custom Styles -->
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <!-- HEADER -->
        <header class="main-header">
            <!-- Navigation Image -->
            <div class="navbar-image">
                <a href="/" alt="Home"><img src="/img/spreadlove.jpg"></a>
            </div>
            
            <!-- Navigation Items -->
            <nav class="navbar">
                <ul class="navbar-items">
                    <li class="navbar-item <%= isLoggedIn ? 'displayFALSE' : 'displayTRUE' %>">
                        <a href="/authentication/login">Login</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/">Seite 2</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/">Seite 3</a>
                    </li>
                </ul>
            </nav>    
        </header>